@import "../header-page";
.buttonClick {    
    border: 1px solid $button-color;
    display: flex;
    justify-content: center;
    background-color: $color-syte;
    color: white;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    margin: 28px 0 0 283px;
    &:hover {
        background-color: white;
        color: $button-color;
    }
    &:hover .buttonClick_p {
        color: $button-color;
    }
    &_a {
        display: flex;
        text-decoration: none;
        padding: 16px;
    }
    &_img {
        width: 26px;
        height: 24px;
    }
    &_p {
        @include text_single (16px, 1.2, 700, white);
        margin-left: 10px;
    }
}
.center {
    width: 1600px;
    margin: 0 auto;
    .carousel {
        text-align: center;
        background-color: #f7f7f7;
        border: 1px solid #eaeaea;
        .img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover .img_a {
                color: #000;
            }
            .img_a {
                display: block;
                font-size: 25px;
                color: rgba(42,42,42,0.14);                
            }
        }
        p {
            @include text_single(14px, 24px, 700, $color-syte)
        }
    }
    .stripe {
        display: flex;
        justify-content: center;
        align-items: center;
        .next {
            width: 50px;
            height: 3px;
            margin: 5px;
            border: 1px solid #eaeaea;
            &:hover {
                background-color: #ef5b70;
            }            
        }        
    }
    .item {
        margin: -17px auto 0;
        padding: 20px;
        width: 1141px;
        height: 730px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        text-align: center;
        justify-content: center;
        &_h3 {
            @include text_single (18px, 24px, 900,#4d4d4d);
            text-transform: uppercase;
        }
        &_text {
            margin-top: 67px;
            width: 620px;
            display: inline-block;
            @include text_single (14px, 24px, 300,#5e5e5e);
        }
        &_material {
            @include text_single (14px, 24px, 700,#b9b9b9);
            margin-top: 28px;
            display: flex;
            justify-content: space-evenly;
            span {
                color: #2f2f2f;
            }
        }
        &_price {
            @include text_single (24px, 24px, 700,#ef5b70);
            margin-top: 37px;
        }
        &_line {
            width: 620px;
            height: 1px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            margin: 43px auto 0;
        }
        &_form {
            margin-top: 63px;
            margin-left: 283px;
            width: 570px;
            display: flex;
            justify-content: space-between;
            .choose {
               width: 144px;
               text-align: start;
               &_text {
                @include text_single (14px, 24px, 700,#2f2f2f);                
               }               
            }
            &_submit {                
                width: 144px;
                height: 35px;
                border: 1px solid #eaeaea;
                justify-content: space-between;
                align-items: center;
                display: flex;
                padding-left: 7px;
                text {
                    width: 100%;
                }
                &_v {
                    padding: 5px 7px;
                    background: #fff;
                    border: 1px solid #fff;
                }
            }
        }
        .buttonClick {
            width: 537px;
        }
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        margin: 73px auto;
        justify-content: space-between;
        &__h1 {
            margin-top: 119px;
            @include text_single (24px, 20px, 900,#4d4d4d);
            text-transform: uppercase;
            text-align: center;
        }        
        &__product:hover .photo {
            filter: brightness(50%);
        }
        &__product:hover {
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
        }
        &__product:hover .card__product_add{
            display: flex;
        }
        .photo {
            display: flex;
            justify-content: center;
            background-color: #e9e9e9;
            height: 280px;
            &_card {
                background-color: #e9e9e9;
            }
        }
        &__product {
            width: 261px;
            position: relative;
            margin-bottom: 39px;
            &_img {
                display: block;
                text-decoration: none;
            }
            &_add {
                display: none;
                position: absolute;
                top: 98px;
                justify-content: center;
                width: 100%;
                .fa-shopping-basket {
                    font-size: 13px;
                    color: #ffffff;
                }
                &_a {
                    display: flex;
                    text-decoration: none;
                    text-align: center;
                    padding: 10px;
                    border: 1px solid #ffffff;
                }
                &_a:hover {
                    box-shadow: 0px 0px 10px #fff;
                }
                &_txt {
                    font-size: 13px;
                    color: #ffffff;
                    font-weight: 700;
                    margin-left: 8px;
                }
            }
        }
        &__text {
            padding: 15px;
            text-transform: uppercase;
            &_desc {
                font-size: 13px;
                font-weight: 400;
                color: #222222;
                margin-bottom: 17px;
            }
            &_price {
                font-size: 16px;
                font-weight: 700;            
                color: #f16d7f;
            }
        }
    }
}
@import "../footer";
