* {
    padding: 0;
    margin: 0;
}
$color-syte: #f16d7f;
$button-color: #ef5b70;
@mixin text_single ($fs, $lh, $fw, $col) {
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;    
    color: $col;
}
.font {
    font-family: Lato; 
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.button {
    z-index: 1;
    display: flex;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px 20px;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 9px;   
    &_h3 {
        width: 130px;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px 0 8px;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &_linc {
        display: flex;
        align-items: center;
        color: #646464;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        margin-bottom: 5px;
        justify-content: space-between;
        &:hover {
            color: #f16d7f;
        }
        &:hover .button_img {
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.17);
        }
    }
    &_img {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}
.button::before {
    content: "";
    display: block;
    background-color: #fff;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -7px;
    right: 5px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.header_back {
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
    .header_top {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo {
        display: flex;
        align-items: center;
    }

    .header__account {
        display: flex;
    }
}
.brand {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-right: 37px;
    .bran_D {
        font-weight: 900;
        color: #f16d7f;
    }
}
.details {
    position: relative;
    width: 105px;
    summary {
        display: block;
      }  
    summary::-webkit-details-marker {
        display: none;
      }
    summary::after {
        content: '\25B6';
        padding-left: 0.5em;
      }
    details[open] > summary::after {
        content: '\25BC';
      }
    .details_span {
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;        
    }
    .details_summary {
        background-color: #cdcdcc;
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;
        padding: 3px 13px;
        transition-duration: 0.4s;
        transition-timing-function: linear;
    }
    .details_summary:hover {
        background-color: #fff;
        border: 1px solid #cdcdcc;
    }    
    .details_linc:hover {
       color: #f16d7f;
     }        
 }
.form {
    display: flex;
    align-items: center;
    .fa-hand-point-left {
        font-size: 20px;
    }
    
    .form_summary {
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #a4a4a4;
        height: 38px;
        width: 280px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 0px 3px 3px 0px;
    }
    .form_button {
        height: 41px;
        width: 37px;
        padding: 5px;
    }
    .form_button:hover .fa-hand-point-left {
        color: #000;
    }
}
.header__account {
    position: relative;
    &__a {
        padding: 7px;
        .fa-cart-arrow-down {
            font-size: 29px;
            color: #cdcdcc;
            &:hover {
                color: #000;
            }
        }
    }
    
    summary {
        display: block;
      }  
    summary::-webkit-details-marker {
        display: none;
      }
    summary::after {
        content: '\25B6';
        padding-left: 0.5em;
      }
    details[open] > summary::after {
        content: '\25BC';
      }
    .details_span {
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff; 
    }
    .details_summary {
        background-color: #f16d7f;
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;
        padding: 3px 13px;
        transition-duration: 0.4s;
        transition-timing-function: linear;
    }
    .details_summary:hover {
        background-color: #fff;
        border: 1px solid #f16d7f;
    }
    .details_summary:hover .details_span {
        color: black;
    }
    .details_item::before {
        content: "";
        display: block;
        background-color: #fff;
        width: 12px;
        height: 12px;
        position: absolute;
        top: -7px;
        right: 5px;
        transform: rotate(45deg);
        border-left: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
    }
    .details_item {
        z-index: 1;
        display: flex;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 10px 20px;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 9px;
        .details_h3 {
            width: 100px;
            border-bottom: 1px solid #e6e6e6;
            padding: 20px 0 8px;
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .details_linc {
            display: block;
            color: #646464;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            text-transform: none;
            margin-bottom: 5px;
        } 
        .details_linc:hover {
            color: #f16d7f;
        }
        
    }
    
}
.nav_menu {
    display: flex;
    justify-content: center;
    height: 51px;
    background-color: #ffffff;
    align-items: center;
    margin-top: 8px;
    .nav_link_a {
        text-decoration: none;
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }
   .nav_li:hover  .nav_box{
        display: flex;
    }
    .last:hover .nav_box {
        left: -600px;
        top: 50px;
    }
    .last:hover .nav_box::before {
        right: 170px;
        left: auto;
    }    
    .nav_li {
    margin-left: 9px;
    padding: 20px;
    list-style-type: none;
    position: relative;
    }
    .nav_box::before {
        content: "";
        display: block;
        background-color: #fff;
        width: 12px;
        height: 12px;
        position: absolute;
        top: -7px;
        left: 26px;
        transform: rotate(45deg);
        border-left: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
    }
    .nav_box {
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 10px 20px;
        position: absolute;
        left: 7px;
        top: 50px;
        display: none;
        .nav_item {
            margin-right: 45px;
        }
        .nav_item:last-of-type {
            margin-right: 0;
        }
        .nav_h3 {
            width: 235px;
            border-bottom: 1px solid #e6e6e6;
            padding: 20px 0 8px;
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .nav_linc {
            display: block;
            color: #646464;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            text-transform: none;
        } 
        .nav_linc:hover {
            color: #f16d7f;
        }
    }
}
.header_botton {
    height: 665px;
    background-color: #e8e8e8;
    .header_botton_fon {
        height: 100%;
        background-image: url(img/boy.jpg);
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        align-items: center;
        .header_botton_block {
            display: flex;
            .header_botton_stripe {
                width: 12px;
                background-color: #f16d7f;
                margin-right: 12px;
            }
            .header_botton_text {
                font-size: 60px;
                font-weight: 900;
                letter-spacing: 0.025em;
                color: #222222;
            }
            .of_lux {
                font-size: 40px;
                .fashion {
                    color: #f16d7f;
                }
            }
          }
    }
}
.project {
    margin-top: 98px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    &__column {
        display: flex;
        flex-direction: column; 
    }
    &__item {
        position: relative;
        margin-bottom: 20px;
        &_down {
            margin-bottom: 0;
        }
        &_img {
            text-decoration: none;
            display: flex;
        }
        &_img:hover {
            box-shadow: 10px 15px 15px 0px rgba(0,0,0,0.17);
        }
        &_a {
            display: block;
            min-width: 175px;
            background-color: #ffffff;
            padding: 16px 20px;
            position: absolute;
            top: 26px;
            text-decoration: none;
        }
        &_a:hover {
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.17);
        }
        &_text {
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222222;
        }
        &_red {
            font-size: 30px;
            color: #f16d7f;
        }
    }
}
.center_section {
    margin: 60px auto;
    text-align: center;
    h3 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #222222;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #9f9f9f;
        margin-top: 16px;
    }
}
.card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 58px;
    justify-content: space-between;
    &__product:hover .photo {
        filter: brightness(50%);
    }
    &__product:hover {
        box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
    }
    &__product:hover .card__product_add{
        display: flex;
    }
    
    &__product {
        width: 261px;
        position: relative;
        margin-bottom: 39px;
        &_img {
            display: block;
            text-decoration: none;
        }
        &_add {
            display: none;
            position: absolute;
            top: 98px;
            justify-content: center;
            width: 100%;
            .fa-shopping-basket {
                font-size: 13px;
                color: #ffffff;
            }
            &_a {
                display: flex;
                text-decoration: none;
                text-align: center;
                padding: 10px;
                border: 1px solid #ffffff;
            }
            &_a:hover {
                box-shadow: 0px 0px 10px #fff;
            }
            &_txt {
                font-size: 13px;
                color: #ffffff;
                font-weight: 700;
                margin-left: 8px;
            }
        }
    }
    &__text {
        padding: 15px;
        text-transform: uppercase;
        &_desc {
            font-size: 13px;
            font-weight: 400;
            color: #222222;
            margin-bottom: 17px;
        }
        &_price {
            font-size: 16px;
            font-weight: 700;            
            color: #f16d7f;
        }
    }
}
.center_click {
    margin: 58px auto;
    width: 212px;
    background-color: $color-syte;
    position: relative;
    border: 1px solid $color-syte;
    transition-duration: 0.8s;
    &:hover {
        background-color: #fff;        
    }
    &:hover .center_click_a {
        color: $color-syte;
    }
    .button {
        display: none;
        top: -90px;
        right: -165px;
        box-shadow: 10px 5px 8px 0px rgba(0,0,0,0.15);
        transition-duration: 0.4s;
        transition-timing-function: linear;
        &:hover {
            background-color: white;
            color: $color-syte;
        }
        &::before {
            top: 109px;
            right: 165px;
            border-bottom: 1px solid #e6e6e6;
            border-top: none;        
        }        
    }    
    &_a {
        display: flex;
        text-decoration: none;
        text-align: center;
        padding: 18px;      
        align-items: center;
        justify-content: space-evenly;
        @include text_single (16px, 0, 700, #ffffff);
        letter-spacing: 0.025em;
    }    
    .fa-long-arrow-alt-right {
        color: #ffffff;
    }
}
.center_click:hover .button {
    display: flex;
}
.center_bottom {
    display: flex;
    margin: 113px auto 97px;
    position: relative;    
    &_left {
        display: block;
        width: 767px;
        height: 529px;
        background-image: url(img/big_women.jpg);
        background-repeat: no-repeat;
        filter: brightness(70%);
        text-decoration: none;
        &:hover {
            filter: brightness(100%);
        }       
        &_a {
            position: absolute;
            text-decoration: none;
            top: 146px;
            left: 39px;
            &_text {
                font-size: 53.7px;
                line-height: 1.2;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #ffffff;
                span {
                    color: #f16d7f;
                }
                &_for {
                    font-size: 32.2px;
                }
            }
        }
    }
    .item {
        display: flex;
        width: 373px;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #222224;
        &_linck {
            display: flex;
            justify-content: space-around;
            &_text {
                display: flex;
                flex-direction: column;
                width: 220px;
                text-decoration: none;
                &_h2 {
                    font-size: 20px;
                    line-height: 1.2;
                    font-weight: 700;
                    letter-spacing: 0.025em;
                    color: #fbfbfb;
                }
                &_p {
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 300;
                    letter-spacing: 0.025em;
                    color: #fbfbfb;
                }
            }
            &_a {
                text-decoration: none;
            }
        }
    }
}
@import "footer";