@import "../header-page";

.center {
    display: flex;
    margin-top: 60px;
    margin-bottom: 110px;
    .center_left {
        width: 243px;
        summary {            
            border: 1px solid #ebebeb;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            justify-content: space-between;
            &:hover {
                box-shadow: 5px 3px 10px 1px #d1b5b5;
            }
        }
        .details_summary {
            background-color: #fff;
            border: 1px solid #e6e6e6;
            padding: 3px 13px;
        }        
        summary::after {
            content: '\25BC';
            padding-left: 7.5em;
            color: #000;
          }
        details[open] > summary::after {
            content: '\25B2';
            color: $button-color;
          }
        .details_line {
            display: inline-block;
            width: 5px;
            height: 37px;
            background-color: $button-color;
            margin-right: 12px;
        }
        .menu_product {
            margin-top: 22px;
            margin-bottom: 41px;
            &_a{
                @include text_single (14px, 33px, 400, #6f6e6e);
                text-decoration: none;
                display: block;
                padding-left: 15px;
                &:hover{
                    color: $color-syte
                }
                }
        }
    } 
    .center_right {
        margin-left: 50px;
        &_top {
            display: flex;
            flex-direction: column;
            &_nav {                
                height: 50px;
                background-color: #f3f3f3;
                display: flex;
                align-items: center;
                .soft {
                    display: flex;
                    align-items: center;
                    width: 166px;
                    height: 30px;
                    background-color: #ffffff;
                    border: 1px solid #ebebeb;
                    margin: 0 9px;
                    &_name {
                        @include text_single (14px, 26px, 400, #6f6e6e);
                        margin-left: 9px;
                        &_line {
                            width: 1px;
                            height: 28px;
                            background-color: #ebebeb;
                            border: 1px solid #ebebeb;
                            margin: 0 10px;
                        }
                        &_menu {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            z-index: 1;
                            background: #fff;
                            width: 85px;
                            &_a {
                                text-decoration: none;
                                display: block;
                                &:hover {
                                    color: $color-syte;
                                }
                            }
                        }
                    }                    
                    summary {
                        display: flex;
                        align-items: center;
                    }                    
                    summary::after {
                        content: '\25BC';
                        padding-left: 2em;
                        color: #000;
                      }
                    details[open] > summary::after {
                        content: '\25B2';
                        color: $button-color;
                      }
                }
            }
            &_form {
                display: flex;
                justify-content: space-between;
                .trending_p {
                    @include text_single (14px, 20px, 700, #6f6e6e);
                    text-transform: uppercase;
                    margin-bottom: 25px;
                }
                .trending_floral {
                    @include text_single (14px, 26px, 400, #6f6e6e);
                    width: 170px;
                    height: 45px;
                    margin: 25px 0 41px;
                    &_line {
                        color: #dfdfdf;
                    }
                }
                .input_box {
                    @include text_single (14px, 20px, 400, #6f6e6e);
                    text-transform: uppercase;
                    width: 185px;
                    margin: -12px;
                    &_margin {
                        margin-left: 10px;
                        margin-bottom: 13px;
                    }
                }
            }
        }
        .card {
            display: flex;
            flex-wrap: wrap;
            margin: 47px 0;
            justify-content: space-between;
            &__product:hover .photo {
                filter: brightness(50%);
            }
            &__product:hover {
                box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
            }
            &__product:hover .card__product_add{
                display: flex;
            }            
            &__product {
                width: 261px;
                position: relative;
                margin-bottom: 39px;
                &_img {
                    display: block;
                    text-decoration: none;
                }
                &_add {
                    display: none;
                    position: absolute;
                    top: 98px;
                    justify-content: center;
                    width: 100%;
                    .fa-shopping-basket {
                        font-size: 13px;
                        color: #ffffff;
                    }
                    &_a {
                        display: flex;
                        text-decoration: none;
                        text-align: center;
                        padding: 10px;
                        border: 1px solid #ffffff;
                    }
                    &_a:hover {
                        box-shadow: 0px 0px 10px #fff;
                    }
                    &_txt {
                        font-size: 13px;
                        color: #ffffff;
                        font-weight: 700;
                        margin-left: 8px;
                    }
                }
            }
            &__text {
                padding: 15px;
                text-transform: uppercase;
                &_desc {
                    font-size: 13px;
                    font-weight: 400;
                    color: #222222;
                    margin-bottom: 17px;
                }
                &_price {
                    font-size: 16px;
                    font-weight: 700;            
                    color: #f16d7f;
                }
            }
        }
        &_down {
            display: flex;
            justify-content: space-between;
            .number {
                width: 261px;
                height: 44px;
                background-color: #ffffff;
                border: 1px solid #ebebeb;
                border-radius: 3px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &_fa {
                    color: #c4c4c4;                   
                    &:hover {
                        color: $button-color;
                    }
                }
                &__a {
                    @include text_single (16px, 26px, 700, #c4c4c4);
                    text-decoration: none;
                    &:hover {
                        color: $button-color;
                    }
                }
            }
            .submit {
                text-decoration: none;
                @include text_single (16px, 26px, 700, $button-color);
                border: 1px solid $button-color;
                box-shadow: 3px 3px 0px 0px #d9a2a2;
                padding: 15px 45px;
                border-radius: 3px;
                transition-duration: 0.7s;
                &:hover {
                    color: #fff;
                    background-color: $button-color;
                }
            }        
        }
    }
}
.item {    
    background-color: #222224;
    width: 1600px;
    margin: 0 auto;
    &_block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 341px;        
    }
    &_linck {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 27px;
        @include text_single (14px, 23px, 300, #fbfbfb);
        letter-spacing: 0.025em;
        text-align: center;
        &_h2 {
            margin: 32px 0 17px;
        }
    }
}

@import "../footer";