@import "../header-page";
.center {
    margin-top: 89px;
    margin-bottom: 125px;
    .registaition {
        @include text_single (16px, 72px, 700,#222222);
        text-transform: uppercase;        
        &_form {
            width: 950px;
            margin-left: 25px;
            display: flex;
            margin-bottom: 79px;
            margin-top: 20px;
            &_Forgot {
                @include text_single (14px, 1.2, 400,#222222);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &_block {
                margin-right: 290px;
            }
            &_button {
                display: flex;                
                background-color: #ffffff;
                border: 1px solid #eaeaea;                
                padding: 20px 65px;
                @include text_single (14px, 1.2, 700,#4a4a4a);
                transition-duration: 1s;
                &:hover {
                    background:rgb(133, 133, 133);
                    color:#fff;
                }
            }
        }        
    }
    summary::after {
        content: '\25B6';
        padding-left: 0.5em;
        color: #fff;
      }
    details[open] > summary::after {
        content: '\25BC';
        color: #cdcdcc;
      }
    &_text {
        @include text_single (12px, 1.2, 400,#222222);
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        &_input {
            width: 390px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            margin-top: 16px;
        }        
        &_label {
            margin-bottom: 17px;
        }
        &_for {
            @include text_single (13px, 20px, 400,#b3b2b2);
            text-transform: capitalize;
            margin-bottom: 34px;
        }
        &_em {
            color: red;
        }
    }
    .before {
        margin-bottom: 15px;
    }
    .before::before {
        content: '>>'
    }    
}
@import "../footer";
