@import "../header-page";


.project {
    margin-top: 62px;
    display: grid;
    grid-template-columns: 125px 350px repeat(5, 1fr);
    grid-template-rows: 60px 1px 166px 1px 166px 1px 166px;
    align-items: center;
    &_menu {
        @include text_single (13px, 20px, 700, #222222);
        text-transform: uppercase;
        letter-spacing: -0.015em;
        &_center {
            text-align: center;
        }
    }
    &__line {
        grid-column: 1/8;
        border: 1px solid #6f6e6e;
        border-bottom: transparent;
    }
}
.mango {
    @include text_single (13px, 1.2, 400, #222222);
    text-transform: uppercase;
    margin-bottom: 38px;
    &_color {
        @include text_single (13px, 20px, 400, #6f6e6e);        
        &_span {
            font-weight: 300;
            color: #575757;
        }
    }
    &_center {
        text-align: center;
    }
}
.project_form {
    width: 133px;
    justify-content: center;
    display: flex;
    &_input {
        width: 54px;
        height: 30px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        text-align: center;        
    }
}
.fa-times-circle {
    color: #6f6e6e;
}
.center_button {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    &_left {
        display: flex;                
        background-color: #ffffff;
        border: 1px solid #eaeaea;                
        padding: 20px 65px;
        @include text_single (14px, 1.2, 700,#4a4a4a);
        text-transform: uppercase;
        transition-duration: 0.5s;
        &:hover {
            background:rgb(133, 133, 133);
            color:#fff;
        }
        &_get {
            width: 118px;
            text-decoration: none;
            padding: 12px 14px;
            font-size: 11px;
            margin-top: 23px;
            margin-bottom: 79px;
            justify-content: center;
        }
    }
}
.center_down {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    flex-wrap: wrap;
    .state {
        width: 360px;
        height: 214px;
        &_text {
            @include text_single (16px, 1.2, 700, #222222);
            text-transform: uppercase;
            &_coupon {
                @include text_single (14px, 1.2, 300, #000000);
                margin-top: 28px;
            }
            &_sub {
                @include text_single (11px, 1.2, 400, #4a4a4a);
                text-transform: uppercase;
                margin-bottom: 14px;
            }      
        }
        .span {
           color: $color-syte;
        }
        &_option {
            width: 100%;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            
            margin-top: 20px;
        }
        &_right {
           background-color: #f5f3f3;
           padding: 40px;
           box-sizing: border-box;
           text-align: end;
        }
    }
    &_button {
        width: 100%;
        @include text_single (16px, 1.2, 700, #ffffff);        
        text-transform: uppercase;        
        background-color: $color-syte;
        margin-top: 17px;
        padding: 15px 36px;
        border: transparent;
        transition-duration: 0.5s;
        &:hover {
            background-color: #fff;
            color: $color-syte;
            border: 1px solid $color-syte;
        }
    }
}
.line {
    width: 275px;
    height: 1px;
    background-color: #e2e2e2;
    margin-top: 22px;
}

@import "../footer";